<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS Project for downloading YouTube Videos</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
    crossorigin="anonymous"/>

</head>
<body>
    <h3>NodeJS Project for downloading YouTube Videos</h3>
    <div class="container my-5">
        <form method="GET" action="/download">
           <div class="form-group">
            <label for="videoURL" >
                YouTube Video URL
            </label>

            <input type="text" class="form-control" placeholder="Enter YouTube Video URL" name="url">
        </div>
            <button type="submit" class="btn btn-primary">Downoad</button>
        </form>

    </div>
    
</body>
</html>